BOT_TOKEN=123456:replace-me
BOT_ADMIN_ID=123456789
TELEGRAM_PROXY_URL=
MODEM_DEBUG=0
SMS_SEND_PASSWORD=replace-me
MODEM_PORT=/dev/ttyUSB2
MODEM_BAUD=115200
SIM_PIN=
APN_NAME=giffgaff.com
APN_USER=
APN_PASS=
KEEPALIVE_URL=https://connectivitycheck.gstatic.com/generate_204
DB_PATH=./data/gg-sms.sqlite
